#textdomain The-Elder-Evil-Era
[era]
   id=The_Elder_Evil_Era
   name= _"The Elder Evil Era"

   {RANDOM_SIDE}
   {multiplayer/factions/loyalists-default.cfg}
   {multiplayer/factions/rebels-default.cfg}
   {multiplayer/factions/northerners-default.cfg}
   {multiplayer/factions/undead-default.cfg}
   {multiplayer/factions/knalgans-default.cfg}
   {multiplayer/factions/drakes-default.cfg}
   {~add-ons/The_Elder_Evil/Iron_Legion.cfg}
   {~add-ons/The_Elder_Evil/Blood_Cult.cfg}
   {~add-ons/The_Elder_Evil/Order_of_Void.cfg}

   {QUICK_4MP_LEADERS}
[/era]