#textdomain The-Elder-Evil-Era
[unit_type]
    id=BC_Bloodless
    name= _ "Bloodless"
    race=undead
    gender=male,female
    image="units/Blood_Cult/Bloodless.png"
    hitpoints=40
    movement_type=smallfoot
    movement=3
    experience=50
    level=1
    alignment=neutral
    advances_to=null
    cost=13
    usage=fighter
    description= _ "Victims of the dark rituals of the patriarchs of the cult. Their desiccated, bloodless bodies have been turned into unstoppable weapons of war. No pain, no fear, no pity. They march forward, ignoring the blows of spears and axes. It seems that only magic can stop these monsters that were once human."
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/Blood_Cult/Bloodless.png" "units/Blood_Cult/Bloodless.png" {SOUND_LIST:HUMAN_HIT} }
    [resistance]
        blade=80
        pierce=80
        impact=100
        fire=110
        cold=50
        arcane=110
    [/resistance]
    [attack]
        name=fists
        description=_"fists"
        icon=attacks/fist-human.png
        type=impact
        range=melee
        damage=6
        number=2
    [/attack]
    
    [female]
        name= _ "female Bloodless"
        gender=female
        image="units/Blood_Cult/Bloodless.png"
        die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
        {DEFENSE_ANIM "units/Blood_Cult/Bloodless.png" "units/Blood_Cult/Bloodless.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }
        
    [/female]
[/unit_type]
