#textdomain The-Elder-Evil-Era
[unit_type]
    id=OoV_Heavy_Warrior
    name= _ "Heavy warrior"
    race=human
    image="units/Order_of_Void/Heavy_Warrior.png"
    hitpoints=38
    movement_type=armoredfoot
    movement=4
    experience=40
    level=1
    alignment=lawful
    advances_to=null
    cost=20
    usage=fighter
    description= _ "These mighty heroes were created to crush the biggest and most dangerous fiends of dark magic. Their armor can withstand almost anything. They are the striking force of the order. They are death. They are retribution."
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/Order_of_Void/Heavy_Warrior.png" "units/Order_of_Void/Heavy_Warrior.png" {SOUND_LIST:HUMAN_HIT} }
    [resistance]
        blade=70
        pierce=80
        impact=70
        fire=90
        cold=90
        arcane=90
    [/resistance]
    [attack]
        name=hammer
        description=_"hammer"
        icon=attacks/hammer.png
        type=impact
        range=melee
        damage=8
        number=3
    [/attack]
    [attack_anim]
        [filter_attack]
            name=hammer
        [/filter_attack]
        start_time=-550
        offset="0~0.6:200,0.6~0:200"
        {SOUND:HIT_AND_MISS mace.ogg mace-miss.ogg -100}
    [/attack_anim]
[/unit_type]
